@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #eab308;
}

html,
body,
#app {
  font-family: "Roboto", sans-serif;
}

body {
  color: var(--color-gray-600);
}

.my-app-dark body {
  color: var(--color-gray-300);
}
